<nav>
  <div class="black nav-wrapper">
    <a class="brand-logo">
      <img
        src="../../../assets/ant-logo.png"
        height="50"
        style="vertical-align: middle"
        class="circle z-depth-1"
      />
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a class="nav-link" routerLink="/inicio">Home</a></li>

      <li class="nav-item">
        <a routerLink="/usuario/crearusuario">registrar usuario</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/seguridad/identificar"
          >Iniciar Sesión</a
        >
      </li>

      <li  class="nav-item">
        <a routerLink="/seguridad/cambiarClave">Cambiar Clave</a>
      </li>

      <li  class="nav-item">
        <a routerLink="/interfaz/categoriaGastos">Categoria Gastos</a>
      </li>
      <li  class="nav-item">
        <a routerLink="/interfaz/cuentas">Cuentas</a>
      </li>
      <li  class="nav-item">
        <a routerLink="/interfaz/tipoCuentas">Tipo Cuentas</a>
      </li>
      <li  class="nav-item">
        <a routerLink="/interfaz/tipoOperaciones">Tipo Operaciones</a>
      </li>
      <li  class="nav-item">
        <a routerLink="/interfaz/transacciones">transacciones</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/seguridad/cerrar-session"
          >cerrar Sesión</a
        >
      </li>

      <li  class="nav-item">
        <a routerLink="#">Recuperar Clave</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo"></ul>


 
