<footer class="grey page-footer">
  <div class="container mt-10">
    <div class="row">
      <div class="col-l6 s12">
        <h5 class="white-text">Ant-expenses</h5>
        <p class="grey-text text-lighten-4">
          Edificio Principal Cr. 13 No. 62 - 24, Bogotá, Colombia. - Horario de
          atención: 7:30 a.m. a 4:30 p.m.
        </p>
        <p class="grey-text text-lighten-4">Conmutador +57</p>
        <p class="grey-text text-lighten-4">
          mas informacio:Ant_expenses@gmail.com
        </p>
      </div>
      <div class="col l4 offset-2 s12">
        <h5 class="white-text">Links</h5>
        <div class="text-center d-flex justify-content-around ">
          <button class="btn btn-danger" type="button">
            <span></span> <span>Youtube</span>
          </button>
          <button class="btn btn-info" type="button">
            <span></span><span class="text-white">Twitter</span>
          </button>
          <button class="btn btn-primary" type="button">
            <span> </span> <span>Facebook</span>
          </button>
          <button class="btn btn-danger" type="button">
            <span> </span> <span>instagram</span>
          </button>
          <button class="btn btn-success" type="button">
            <span> </span> <span>Whatsapp</span>
          </button>
          <button class="btn btn-dark" type="button">
            <span></span> <span>GitHub</span>
          </button>
      

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Copyright. Todos los derechos reservados - 2022
    </div>
  </div>
</footer>
