



<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8">
          <form id="regForm">
              <h1 id="register">Crear cuenta</h1>


              <div class="tab">
                <h6>Nombre de la cuenta?</h6>
                  <p>
                    <input placeholder="Cuenta" oninput="this.className = ''" name="fname"></p>

              </div>
      <div id="nombrelHelp" class="form-text">
        El tipo de cuenta se refiere a como podemos agrupar cuentas
        Ejemplo:Préstamos, Tarjetas de crédito, etc
            </div>

              <button type="submit" class="btn btn-primary  mt-3 mb-5">Crear</button>


          </form>
      </div>
  </div>
</div>








