<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo"> Crear Tipo de cuenta</span>
          <form [formGroup]="cuentaForm" class="mt-5" (ngSubmit)="crearCuenta()">
            <div class="mb-3">
              <input
                type="text"
                formControlName="cuentatipo"
                class="form-control"
                placeholder="Ejemplo:Préstamos, Tarjetas de crédito"
              />
            </div>
            <div class="mb-3">
              <button
                routerLink="/interfaz/cuentas"
                class="btn btn-secondary float-start"
              >
                Cuentas
              </button>
              <button type="submit" [disabled]="!cuentaForm.valid" class="btn btn-primary float-end">Aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
